
.toggle-button {
    width: 35px;
    height: 35px;
    border: 2px solid #c1c1c1;
    margin: 0px 0px 0px 10px;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    /* sets the toggle-button-line class one under the other */
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    justify-content: space-evenly;
}

.toggle-button-line {
    box-sizing: border-box;
    height: 2px;
    width: 34px;;
    background: #c1c1c1;
}

@media only screen and (max-width: 439px) {
    

}