
.top-padding-10em {
    padding-top: 10em;
}

a.social {
    margin: .5em 1em;
    transition: transform 250ms;
    display: block;
    color: white;
}

a.social:hover {
    transform: translateX(4px);
}

@media only screen and (max-width: 439px) {
    a.social {
        display: inline-block;
    }

    .top-padding-10em {
        padding-top: 0em;
    }

    a.social:hover {
        transform: translateX(0px);
    }

    a.social {
        margin: 0em .5em;
    }

}
