

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.top-box {
    border-bottom: 2px solid white;
    height: 100px;
    position: relative;
}

.top-box p {
    text-align: center;
    font-size: 2em;
    padding-top: 2em;
    color: white;
}

/* exit sign */
.top-box img {
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: auto;
}

.top-box img:hover {
    cursor: pointer;
    color: none;
}

.left-box {
    border-right: 2px solid white;
    display: inline-block;
    height: 440px;
    width: 50%;
    vertical-align: top;
}

.right-box {
    display: inline-block;
    height: 440px;
    width: 50%;
    padding: 10px;
}

.right-box ul {
    display: inline-block;
    padding-right: 155px;
}

.right-box ul li {
    margin-top: 1em;
    font-size: 1.5em;
}

.right-box ul li a {
    color: white;
    text-decoration: none;
}

.right-box ul li:hover {
    opacity: 0.5;
}

@media only screen and ( max-width: 440px ){
    .ui.vertical.buttons .button {
        justify-content: center;
    }

    a {
        color: white;
    }
}