@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Permanent+Marker&effect=fire-animation');

/* remove p element property */
p {
    margin: 0px;
}

.column-box{
    /* border: 1px solid black; */
    height: 260px;
    position: relative;
}

.title {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 4vw;
    text-shadow: 4px 4px 4px black;
    padding-top: 2em;
    /* border-bottom: 4px solid white; */
}

.sub-title {
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 3vw;
    text-shadow: 4px 4px 4px black;
    padding-top: 12px;          
}

.add-padding {
    margin-top: 4em;
    margin-bottom: 6em; 
}

/* standard laptop screen 1024px */
@media only screen and ( min-width: 1024px) {
    .column-box {
        margin-top: 100px;
    }

}

/* large laptop screen 1440px */
@media only screen and ( min-width: 1440px ) {

}

/* extra large screen 2560px */
@media only screen and ( min-width: 2560px ) {

}

/* Ipad Pro screen */
@media only screen and ( max-width: 1024px) {

}

@media only screen and ( max-width: 420px) {

}