@import url('https://fonts.googleapis.com/css?family=Rokkitt:200,300');

.navbar-position {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.nav {
    /* items displayed horizontally */
    display: flex;
    align-items: center;
    padding: 1rem;
}

.ck-main-logo img {
    width: 140px;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 20px;
}

/* fills empty space*/
.spacer {
    flex: 1;
}

.nav-items ul {
    list-style: none;
    display: flex;
    margin-right: 3rem;
}

.nav-items ul li {
    margin: 1em 1em;
}

.nav-items ul li a {
    color: white;
}

.nav-items ul li a:hover {
    color: grey;
    opacity: 0.7;
}

h1 {
    color: white;
    font-size: 2em;
}

/* mobile view */
@media only screen and ( max-width: 439px ) {
    .nav-reserv-button {
        margin-left: .5rem;
    }

    .nav {
       display: block;
       text-align: center;
    }

    .navbar-position {
        position: relative;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
  
    }

    h1 {
        display: inline-block;
        vertical-align: text-top;
    }

    .ui.container {
        margin-top: 1em;
    }

    .nav-items ul li {
        margin: 0em 0em;
    }

    .nav {
        padding: 1rem 0rem;
    }

    .nav-items ul {
        margin-right: 0rem;
    }

    .nav-items ul li {
        margin: 0em 0em;
    }
}