* {
    margin: 0;
    padding: 0;
}

/* frame for background image */
.App-body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
}

/* background image shadow overlay */
.App-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}