@import url('https://fonts.googleapis.com/css?family=Raleway:500');

/* Adjust Semantic grid to cover entire screen width */
.ui.grid {
    margin: 0;
}

/* Semantic Grid spacing */
.ui.grid>.row {
    padding-top: 0;
    padding-bottom: 0;
}

.ui.grid>.row>.column {
    margin-top: 1rem;
}
/* ///////////////////// */

h2 {
    color: #c1c1c1;
    margin: 0;
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
}

p {
    color: #c1c1c1;
}

.footer-position {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
}

.right-content {
    text-align: right;
    margin-right: 3rem;
}

.left-content {
    margin-left: 3rem;
}

.row-two-position {
   margin-left: 3rem;
}

/* mobile view */
@media only screen and ( max-width: 440px ) {
    .right-content {
        text-align: center;
        margin-right: 0rem;
    }

    .left-content {
        text-align: center;
        margin-left: 0rem;
    }

    .row-two-position {
        text-align: center;
        margin-left: 0rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: .5rem;
    }

    .footer-position {
        position: relative;
        bottom: 0;
        background-color: black;
        width: 100%;
    }

    .ui.grid>.row>.column {
        margin-top: 0rem;
    }
}
