
.top-padding-10em {
    padding-top: 10em;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.facebook {
    color: #4968ad;
}

a.twitter {
    color: #49a1eb;
}

a.instagram {
    color: black;
}

a.yelp {
    color: #eb3223;
}